body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    padding-top: calc(5em + 10vw);
}

.search_display{
  position: fixed;
  padding: 0px;
  width: 100%;
  top: 0;
  justify-content: center;
  font-size: clamp(12px, 1.5vw, 36px);
}

.Stats{
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}

header {
    background-color: #303133;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #ffffff;
    text-shadow: 1px 1px 2px #ce0100;
}

header input {
    padding: 5px;
    width: 80%;
    max-width: 300px;
    margin-top: 10px;
}

hr {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: none;
  margin-right: none;
  border-style: solid;
  color: #ce0100;
  border-width: 2px;
}

.pokemon-card {
    padding: 2px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(8px, 1.5vw, 50px); /* Automatically resize text */
    line-height: 1.2; /* Adjust line spacing */
    overflow: hidden; /* Prevent overflow if text is too long */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.filters{
  display: flex;
  flex: nowrap;
  justify-content: center;
  overflow-x: auto;
}

.pokemon-card.caught {
    background-color: #d4edda;
    text-decoration: line-through;
}

.variant-group{
  width: 100%;
}

.variant-group h2 {
  text-align: center;
  
}

.variant-group table {
  margin: 0 auto;
  text-align: center;
  width: 80%;

}

/* Responsive design for mobile screens */
@media screen and (max-width: 400px) {
    .pokemon-card {
        width: 50px;
        height: 40px;
    }
      
    main {
        padding: 0px;
        justify-content: flex-start; /* Stack cards for easier viewing */
    }
    
    body {
      padding-top: 130px;
    }

    header input {
        width: 100%;
        max-width: none;
    }

    .variant-group h2 {
        font-size: 18px;
    }
    
    .variant-group table {
      margin: 0;
      text-align: left;
      width: 100%;
      border-spacing: 0px;
      
    }

    .pokemon-table {
        width: 100%;
        border-collapse:collapse;
        table-layout: fixed
    }
        
    .filters{
      display: flex;
      flex: nowrap;
      justify-content: left;
      overflow-x: auto;
    }
    
    .filters select{
      width:120px;
    }
